<div class="header">
  <h1 id="username">{{username}}</h1>
  <div class="tabs">
    <a [routerLink]="['/profile', userId, 'followers']"><button class="shadow" [class.active]="activeTabIndex === 0">Followers: {{followerCount}}</button></a>
    <a [routerLink]="['/profile', userId, 'following']"><button class="shadow" [class.active]="activeTabIndex === 1">Following: {{followingCount}}</button></a>
    <a [routerLink]="['/profile', userId, 'movies']"><button class="shadow" [class.active]="activeTabIndex === 2">Movies</button></a>
    <a [routerLink]="['/profile', userId, 'lists']"><button class="shadow" [class.active]="activeTabIndex === 3">Lists</button></a>
  </div>
  <div *ngIf="isLoggedIn && !isMyProfile">
    <!-- Show follow/unfollow button -->
    <button (click)="toggleFollowUser()" class="primary">
      {{ isFollowing ? 'Unfollow' : 'Follow' }}
    </button>
  </div>
  <div *ngIf="isLoggedIn && isMyProfile">
    <!-- This is your own profile, no button -->
  </div>
  <div *ngIf="!isLoggedIn">
    <!-- Show "Log in to follow" message -->
    <button [routerLink]="['/login']" class="primary">Log in to follow this user</button>
  </div>
</div>




<router-outlet></router-outlet>
