.header {
    margin-left: 50px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    *{
        margin-left: 0px;
    }
}
.tabs {
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    padding-left:0px;
    *{
        margin-right: 5px;
    }
}

#username {
    font-size: 50px;
}

.tabs a button.active {
    color: white;
    background-color: black;
  }