<h1>{{username}}</h1>

<div class="following">
  <a [routerLink]="['/profile', userId, 'followers']"><p>Followers: {{followerCount}}</p></a>
  <a [routerLink]="['/profile', userId, 'following']"><p>Following: {{followingCount}}</p></a>
  <a [routerLink]="['/profile', userId, 'movies']"><p>Movies</p></a>
</div>


<div *ngIf="isLoggedIn && !isMyProfile">
  <!-- Show follow/unfollow button -->
  <button (click)="toggleFollowUser()">
    {{ isFollowing ? 'Unfollow' : 'Follow' }}
  </button>
</div>
<div *ngIf="isLoggedIn && isMyProfile">
  <!-- This is your own profile, no button -->
</div>
<div *ngIf="!isLoggedIn">
  <!-- Show "Log in to follow" message -->
  <button [routerLink]="['/login']">Log in to follow this user</button>
</div>



<router-outlet></router-outlet>
