<h2>Lists</h2>

<div *ngIf="isLoggedIn && isMyProfile">
  <button [routerLink]="['/create-list']">Create New List</button>
</div>


<section class="results">
    <ng-container *ngIf="userLists.length > 0; else noLists">
      <a *ngFor="let list of userLists">
        <a [routerLink]="['/profile', userId, 'lists', list.id]"><app-user-list [list]="list" ></app-user-list></a>
        <div *ngIf="isLoggedIn && isMyProfile">
          <a [routerLink]="['/edit-list', list.id]"><button>Edit</button></a> 
          <a (click)="openDeleteConfirmationDialog(list.id)"><button >Delete</button></a>
        </div>
      </a>
    </ng-container>
    <ng-template #noLists>
      <p>No Lists</p>
    </ng-template>
  </section>

  <ng-container *ngIf="deleteConfirmationVisible">
    <app-delete-confirmation (confirmed)="onDeleteConfirmed($event)"></app-delete-confirmation>
  </ng-container>

  