.user-search-form {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-input {
    flex-grow: 1;
    border: none;
    padding: 8px;
    font-size: 14px;
  }
  
  .search-button button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .search-button button:hover {
    background-color: var(--secondary-color);
  }
  