<div class="movie-details-modal centered-modal">
    <div class="modal-content">
    <!-- Your modal content here -->
    <h2>Add Movie to List</h2>
    <div class="user-list-grid">
        <app-user-list
          *ngFor="let list of userLists"
          [list]="list"
          [class.selected]="selectedListId === list.id"
          (listSelected)="onListSelected($event)"
        ></app-user-list>
    </div>
    <button (click)="onAddMovieToList()">Add</button>
    <p>or</p>
    <input type="text" [(ngModel)]="newListName" placeholder="Enter new list name">
    <button (click)="onCreateNewListWithMovie()">Create and Add</button>
    <button (click)="onClose()">Close</button>
    </div>
</div>
