<nav>
  <a [routerLink]="['/']" class="logo">
    <h1>BetterBoxd</h1>
  </a>
  <section class="search-section">
    <app-search-input></app-search-input>
    <app-user-search-input></app-user-search-input>
  </section>
  <div class="user-section">
    <ng-container *ngIf="isLoggedIn$ | async; else showLoginButton">
      <a [routerLink]="['/profile', userId]" class="profile-button">
        <button>Profile</button>
      </a>
      <button (click)="logout()" class="logout-button">Logout</button>
    </ng-container>
    <ng-template #showLoginButton>
      <a [routerLink]="['/login']" class="login-button">
        <button>Login</button>
      </a>
    </ng-template>
  </div>
</nav>
