.user-list-card {
    /* Add some spacing between movie cards */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-list-item {
    cursor: pointer;
    position: relative;
  }


  .user-list-item.selected .user-list-card {
    background-color: var(--primary-color); /* Change to your desired background color */
    color: white; /* Change to your desired text color */
}





