.user-list-card {
    /* Add some spacing between movie cards */
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.user-list-item {
    cursor: pointer;
    /* Add any other styles you want */
  }

  .selected {
    background-color: #3364cd; /* Change to your desired selected color */
    /* Add any other styling you want for a selected list */
  }