.movie-details-container {
  
  width: 50%; /* 80% of the viewport width */
  margin: 0 auto; /* Center horizontally */
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Add a border for encapsulation */
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Add shadow */
  padding: 0px; /* Add padding */
  box-sizing: border-box; /* Include padding and border in total width */
  background-color: var(--shadow-color);
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;

}

.movie-info {
  flex: 1;
  padding-right: 20px;
  *{
    margin: 10px;
  }
  #movie-title{
    font-size: 50px;
  }
  #movie-overview{
    font-size: 20px;
  }
  #movie-release-date{
    font-size: 18px;
  }
}



.interactives {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 10px;
  background-color: white;
}

.rating *{
  margin: 4px;
}

.rating{
  p {
    font-size: 19px;
  }
  select {
    font-size: 17px;
  }
}


.movie-back-drop {
  width: 100%;
  height: auto;
  margin: 0px;
  display: block;
  position: relative;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}



.loading-message {
  text-align: center;
}


