<div class="movie-details-container">
  <div *ngIf="movie; else loadingMovieDetails">
    <img class="movie-back-drop" [src]="getPosterUrl(movie.backdrop_path)">
    <div class="content">
      <div class="movie-info">
        <h2 id="movie-title">{{ movie.title }}</h2>
        <p id="movie-overview">{{ movie.overview }}</p>
        <p id="movie-release-date">Release Date: {{ movie.release_date }}</p>
      </div>
      <div class="interactives">
        <ng-container *ngIf="isLoggedIn$ | async; else showLoginButton">
          <ng-container *ngIf="!isMovieWatched; else isMovieWatchedSection">
            <div class="rating">
              <p class="your-rating">Your Rating:</p>
              <select [(ngModel)]="rating" (change)="rateMovieAndMarkAsWatched()" class="rating-select">
                <option *ngFor="let ratingOption of ratingOptions" [value]="ratingOption">{{ ratingOption }}</option>
              </select>
            </div>
          </ng-container>
          <ng-template #isMovieWatchedSection>
            <div class="rating">
              <p class="your-rating">Your Rating:</p>
              <select [(ngModel)]="rating" (change)="updateRating()" class="rating-select">
                <option *ngFor="let ratingOption of ratingOptions" [value]="ratingOption">{{ ratingOption }}</option>
              </select>
              <button (click)="unmarkMovieAsWatched()" class="shadow">Unwatch</button>
            </div>
          </ng-template>
          <button (click)="openMovieModal()" class="add-to-list-button" class="primary">Add to List</button>
        </ng-container>
      </div>
    </div>
    
    

    <ng-template #showLoginButton>
      <a [routerLink]="['/login']"><button class="shadow">Login to Rate</button></a>
    </ng-template>


  </div>
  
  <ng-template #loadingMovieDetails>
    <div class="loading-message">
      <p>Loading movie details...</p>
    </div>
  </ng-template>
</div>

<ng-container *ngIf="isMovieListModalOpen">
  <app-movie-list-modal [movieId]="this.movieId" (confirmed)="onMovieModalConfirmed($event)"></app-movie-list-modal>
</ng-container>
