<div *ngIf="movie">
    
    <img class = "movie-back-drop" [src]="getPosterUrl(movie.backdrop_path)">
    
    <ng-container *ngIf="isLoggedIn$ | async; else showLoginButton">
      <div *ngIf="!isMovieWatched">
        <p>Your Rating:</p>
        <select [(ngModel)]="rating" (change)="rateMovieAndMarkAsWatched()">
          <option *ngFor="let ratingOption of ratingOptions" [value]="ratingOption">{{ ratingOption }}</option>
        </select>
      </div>
      <div *ngIf="isMovieWatched">
        <p>Your Rating:</p>
        <select [(ngModel)]="rating" (change)="updateRating()">
          <option *ngFor="let ratingOption of ratingOptions" [value]="ratingOption">{{ ratingOption }}</option>
        </select>
        <button (click)="unmarkMovieAsWatched()">Watched</button>
      </div>
      <button (click)="openMovieModal()">Add to List</button>

    </ng-container>

  <ng-template #showLoginButton>
    <a [routerLink]="['/login']"><button>Login to Rate</button></a>
  </ng-template>
 
    
    
    <h2>{{ movie.title }}</h2>
    <p>Release Date: {{ movie.release_date }}</p>
    <p>Overview: {{ movie.overview }}</p>
    <p>Vote Average: {{ movie.vote_average }}</p>
  </div>
  
  <div *ngIf="!movie">
    <p>Loading movie details...</p>
  </div>


  <ng-container *ngIf="isMovieListModalOpen">
     <app-movie-list-modal
     [movieId]="this.movieId" 
     (confirmed)="onMovieModalConfirmed($event)">
    </app-movie-list-modal>
  </ng-container>
 
  