<div *ngIf="movie">
    
    <img class = "movie-poster" [src]="getPosterUrl(movie.poster_path)">
    <!-- 
    <button *ngIf="!isWatched(movie)" (click)="markAsWatched(movie)">Watch</button>
    <div *ngIf="isWatched(movie)">
      <p>Your Rating:</p>
      <select [(ngModel)]="movie.rating" (change)="updateRating(movie)">
        <option *ngFor="let rating of ratings" [value]="rating">{{ rating }}</option>
      </select>
    </div>  
    -->
    
    <h2>{{ movie.title }}</h2>
    <p>Release Date: {{ movie.release_date }}</p>
    <p>Overview: {{ movie.overview }}</p>
    <p>Vote Average: {{ movie.vote_average }}</p>
  </div>
  
  <div *ngIf="!movie">
    <p>Loading movie details...</p>
  </div>
  